# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
*.egg-info/
dist/
build/

# AWS + keys
*.pem
*.key
.aws/
credentials

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs + local
*.log
.local/
